.product_img{
	height: 200px;
	margin: 20px;
}

.product_main{
	padding-top: 50px;
}

img{
	background-color: blue;
	width:100%;
}

.addCartButton{
	background-color:grey;
	border: 2px solid black;
	width:35%;
	text-align: center;
	border-radius: 15px;
}