.search_box{
	padding: 5px 15px 5px 15px;
	color:grey;
	border:1px solid gold;
	border-radius:15px;
	height:40px;
	width: 300px;
}

.test_button{
	padding: 5px 15px 5px 15px;
	color:black;
	border:1px solid gold;
	border-radius:15px;
	height:30px;
	width: 120px;
	font-size:10px;
}