.search_box{
	margin-top: 15px;
	padding: 5px 15px 5px 15px;
	color: #2A2C2E;
	border-top: 0px solid;
	border-left: 0px solid;
	border-right: 0px solid;
	outline: none;
	border-bottom:1px solid gold;
	/*border-radius:15px;*/
	height:40px;
	width: 300px;
}

.search_item{
	border-bottom: 1px solid black;
/*	border-left: 1px solid black;
	border-right: 1px solid black;*/
	padding-top:10px;
	padding-right: 10px;
	padding-left: 10px;
}