.product_wrapper{
    width:33%;
    min-height:90vh;
    border:1px grey solid;
    color:grey;
    padding:10px;
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
}

.boxes{
    width:90%;
    min-height:200px;
    border:1px red solid;
    text-align:center;
}