.productContainer {
  margin: 0 20px;
  background-color: #fff;
  width: 33%;
  padding: 20px;
  border-radius: 0.5rem;
}

.product {
  position: relative;
}

.price {
  color:salmon;
  position: absolute;
  top: 0;
  right: 0;
}

