.displayProduct{
	width:50%;
	display: block;
	backgound-color: #eaf2ff;
	margin: -10px 15px;
	float:left;
}

.displayProduct p {
	font-size: 1em;
	text-align: justify;
	clear: both;
}

.displayProduct img {
	float: left;
	width: 80%;
}

.displayProduct h4 {
	font-size: 1.2em;
	color: #16cc62;
}