<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<img src="/plane.png" class="planefly" />
<img src="/plane.png" class="planeappear" />
<div class="container mt-5	">
		<%= javascript_pack_tag 'hello_react' %>
</div>