<!DOCTYPE html>
<html>
<head>
	<title>Shopping React</title>
	<style>
		body{
			background-color: #FBEEE6;
		}

		input{
			width: 80%;
			border: 1px solid gainsboro;
			padding: 5px;
		}

		button.sort {
			background-color: #FBEEE6;
			width: 80%;
			padding: 10px;
			border: none;
			border-bottom: 1px solid black;
		}

		button.submit {
			border-radius: 5px;
			border: none;
			padding: 5px 10px;
			background-color: salmon;
			color: white;
		}

		.sort:hover{
			background-color: white;
			font-weight: bold;
		}

		.card {
			width: 90%;
		}

		.title {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		i {
			font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
			font-size: 20px;
		}

		.cart-icon{
			display: flex;
			flex-direction: end;
			padding: 0;
			border: none;
			background-color: white;
		}

	</style>
</head>
<body>

</body>
</html>

<%= javascript_pack_tag 'hello_react' %>