.cart_container{
  padding:5px;
  margin:20px;
    width: 30%;
    height:auto;
    border: 3px blue solid;
    border-radius: 10px;
}

h3, h6, p {
    margin: 0;
    padding: 0;

}

p {
    margin-bottom: 20px;
}
ul{
    margin:14px;
    padding:0;

}
li{
    margin:0;
    padding:0;
}
