.cartItem {
	text-transform: capitalize;
}

.payment {
	display: flex;
	justify-content: space-between;
}

.title {
	font-weight: bold;
}

#chicken td {
	vertical-align: middle;
}

.showCart {
	top: 25px;
	left: 15%;
	width: 70%;
	padding: 20px;
	text-align: center;
	position: absolute;
	background-color: #EBEDEF;
	border: 1px solid black;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from { top: -1000px; opacity: 0 }
  to { top: 25px; opacity: 1 }
}

.hideCart {
	top: -1000px;
	left: 15%;
	width: 70%;
	padding: 20px;
	text-align: center;
	position: absolute;
	background-color: #EBEDEF;
	border: 1px solid black;
  animation-name: animateback;
  animation-duration: 0.4s
}

@keyframes animateback {
  from { top: 25px }
  to { top: -1000px }
}

.close {
	left: 45%;
	font-size: 20px;
	font-weight: bold;
	position: relative;
}

.close:hover {
	cursor: pointer;
	text-decoration: underline;
}