.showproduct{
	width: 25%;
	float: right;
	font-size: 12px;
}

.nobullet {
	padding-left: 0;
	list-style-type: none;
}

.cartlist {
	padding-left: 0;
	diplay: block;
	list-style-type: none;
	font-size: .9em;
	margin-top: 25px;

}