.showproduct{
	width: 25%;
	float: left;
	font-size: 12px;
}

.nobullet {
	padding-left: 0;
	height: 20px;
	diplay: block;
	list-style-type: none;
	font-size: .8em;
	word-break:break-all;
	margin-top: 5px;

}