html, body {
  background-color: white;
  min-width: 700px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  padding: 20px; }

.desc {
  background-color: pink; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%; }

.search-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 33.33%;
  background: yellow; }

.product-view {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 33.33%;
  background: red; }

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 33.33%;
  background: blue; }
