.container {
  padding: 5px;
  margin: 5px;
  border: 1px solid grey;
  width: 90%;
}

.container:hover {
  background-color: rgba(240, 240, 240, 0.5);
  cursor: pointer;
}

.container:focus {
  background-color: rgba(240, 240, 240, 0.8);
  outline: rgba(240, 240, 240, 0.8);
}
