#inputstyle{
  padding:5px;
  width: 60%;

}

.searchform{
	width:25%;
	height:100%;
	float: left;
	text-align: left;
}

.showproduct{
	width: 100%;
	font-size: 14px;
	word-break:break-all;

}

.showproduct p{
	padding-right: 8px;
	text-align: left;
	margin-top: 10px;
}

.showproduct p:hover {
	background: #f2f2f2;
}

.searchform h3{
	color:#16cc62;

}
