.name{
  padding:5px;
  margin:20px;
}

.eachItem {
  border: 1px solid grey;
  margin-bottom: 10px;
  padding: 20px
}

img {
  float: left;
}

div {
  white-space: normal;
  height: 100%;
}

p {
  text-align: justify;
}

h5 {
  margin-top: 0;
}