@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

html, body {
  background-color: #EEE;
  min-width: 700px;
  font-family: 'Montserrat', sans-serif;
}

.container{
	padding: 20px;
    display: flex;
}
h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}