body, html {
	margin: 5px;
}

.search {
	padding: 15px;
	min-height: 650px;
	background-color: #EBEDEF;
	border: 1px solid black;
}

.product {
	padding: 15px;
	background-color: #0ACEFA;
	border: 1px solid black;
}