html, body {
  background-color: white;
  min-width: 700px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
  padding:20px;
}

.desc{
	background-color:pink;
}

.pagecontent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: red;
}

.panel{
  height: 100vh;
  width: 30vw;
  border: 1px solid black;
}

.itemtag{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  background-color: blue;
}
