<div class="container">

		<p id="notice"><%= notice %></p>

		<h1 class="display-4 text-center">Shopping React</h1>

		<%= javascript_pack_tag 'hello_react' %>


		<%= stylesheet_pack_tag 'hello_react' %>

</div>