// Search
.searchCont {
  background: lightgrey;
  padding: 1rem;
  margin: 0;
}

.result {
  background-color: white;
  margin: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}

.result:hover {
  cursor: pointer;
}